<html>
    <head>
        <title>Aula 01</title>
        <script src="https://unpkg.com/vue"></script>
        <script>
            var app;
            window.onload = function(){
                app = new Vue({
                    el: "#app",
                    data: {
                        status: false, 
                        titulo: "Aula 01",
                        linguagens: [
                            {nome: "Teste1"},
                            {nome: "Teste2"},
                            {nome: "Teste3"},
                            {nome: "Teste4"}
                        ]
                    }
                });
            }

        </script>
    </head>
    <body>
    <div id="app">
        <span v-if="status">{{titulo}}</span>
        <ul>
            <li v-for="item in linguagens">{{item.nome}}</li>
        </ul>
    </div>

    </body>
</html>